<html>
   <body>
      <form action = "{{ url_for('remove') }}" method = "POST">
         <h3>Student Information</h3>
         Name:<br>
         <input type = "text" name = "nm" /><br>
         <input type = "submit" value = "submit" /><br>
      </form>
   </body>
</html>

